*{
    margin: 0;
    padding: 0;
}


html,body{
    width: 100%;
    height: 100%; 
    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E7CBCB;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
 .clock{
    background-color:  #99627A;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.clock span{
    position: absolute;
    transform: rotate(calc(30deg*var(--i)));
    inset: 12px;
    text-align: center;
}
.clock span b{
    transform: rotate(calc(-30deg*var(--i)));
    display: inline-block;
    font-size: 2rem;
}
.clock::before{
    content: "";
    position: absolute;
    width: 1vw;
    height: 2vh;
    border-radius: 50%;
    background-color: black;
    z-index: 2;
}
.hand{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items:flex-end;
}
.hand i{
    position: absolute;
    background-color: var(--clr);
    width: var(--w);
    height: var(--h);
    border-radius: 8px;
   
}


